@charset "utf-8";

/* font-family: 'Raleway', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap'); /* 글씨체 연결 */


body{
  font:18px/30px Arial,sans-serif;
}
img{
  max-width: 100%;
  max-height: 100%;
}
.hide{
  width:0; height:0;
  font-size:0; line-height: 0;
  position:absolute; visibility: hidden;
}

/* layout -> */

/* 공통 */
header>div,article>div{
  width:1320px;
  margin: 0 auto;
  /* background-color:pink; */
}
#box02,#box03,#box04,#box05,#box06{
  padding:85px 0;
}
div>h3{
  font-size:48px;
  text-align: center;
  margin-bottom: 35px;
}
.title{
  font-size:30px;
  margin-bottom: 50px;
}
.text{
  margin-bottom: 50px;
}

/* header */
header{
  padding: 18px 0;
  background-color: #000;
  position:relative; /* 타블렛,모바일 버튼을 위한 포지션 */
}
header>div{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
header h1>a{
  font-family: '나눔고딕',Arial,sans-serif;
  font-size:30px;
  font-weight: bold;
  color:white;
}

nav{}
nav>ul{
  display:flex;
  justify-content: flex-end;
  align-items: center;
}
nav>ul>li{
  margin-left:40px;
  color:white;
}
nav>ul>li>a{
  font-weight:bold;
}

/* header 버튼 */
#btn{
  width:30px;
  height:30px;
  position:absolute;
  right:18px; top:18px;
  display: none;
  background-color: red;
}
nav .close{}

/* box01 */
#box01{
  position: relative;
  /* height:100% - 70px; */
  height : calc(100vh - 70px); /* vh:화면의 전체높이 */
  background-color: aqua;
}
#box01>h2{
  position:absolute;
  left:50%; top:50%;
  width:676px; height:280px;
  border:1px solid #fff;
  margin:-140px 0 0 -338px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway',sans-serif;
  font-size:70px;
  color:white;
  font-weight: lighter;
  line-height: 70px;
  text-align: center;
}
#box01>ul{
  width:400%;
  height:100%;
  display:flex;
  flex-wrap:wrap;
  /* justify-content: flex-start; */
}
#box01>ul>li{
  width:25%; /* 100% X */
  height:100%;
  background:url('../images/blue.jpg') no-repeat center top;
  background-size:100%;
  text-indent:-9999px;
}
#box01>ul>li.no02{background-image: url('../images/pink.jpg');}
#box01>ul>li.no03{background-image: url('../images/purple.jpg');}
#box01>ul>li.no04{background-image: url('../images/green.jpg');}
#box>.no{
  position: absolute;
  right:100%;
  bottom: 30px;
  background-color: red;
}
#box>.no>a{
  display: inline-block;
  width:20px; height:20px;
  margin:0 8px;
  border-radius: 50%;
  background-color: #fff;
  text-indent: -99999px;
}
#box>.prev{}
#box>.next{}