@charset "utf-8";

/* font-family: 'Raleway', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap'); /* 글씨체 연결 */


body{
  font:18px/30px Arial,sans-serif;
}
img{
  max-width: 100%;
  max-height: 100%;
}
.hide{
  width:0; height:0;
  font-size:0; line-height: 0;
  position:absolute; visibility: hidden;
}

/* layout -> */

/* 공통 */
header>div,article>div{
  width:1320px;
  margin: 0 auto;
  /* background-color:pink; */
}
#box02,#box03,#box04,#box05,#box06{
  padding:85px 0;
}
div>h3{
  font-size:48px;
  text-align: center;
  margin-bottom: 35px;
}
.title{
  font-size:30px;
  margin-bottom: 50px;
}
.text{
  margin-bottom: 50px;
}

/* header */
header{
  padding: 18px 0;
  background-color: #000;
  position:relative; /* 타블렛,모바일 버튼을 위한 포지션 */
}
header>div{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
header h1>a{
  font-family: '나눔고딕',Arial,sans-serif;
  font-size:30px;
  font-weight: bold;
  color:white;
}

nav{}
nav>ul{
  display:flex;
  justify-content: flex-end;
  align-items: center;
}
nav>ul>li{
  margin-left:40px;
  color:white;
}
nav>ul>li>a{
  font-weight:bold;
}

/* header 버튼 */
#btn{
  width:30px;
  height:30px;
  position:absolute;
  right:18px; top:18px;
  display: none;
  /* background-color: red; */
}
nav .close{}

/* box01 */
#box01{
  position: relative;
  /* height:100% - 70px; */
  height : calc(100vh - 70px); /* vh:화면의 전체높이 */
  background-color: aqua;
}
#box01>h2{
  position:absolute;
  left:50%; top:50%;
  width:676px; height:280px;
  border:1px solid #fff;
  margin:-140px 0 0 -338px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway',sans-serif;
  font-size:70px;
  color:white;
  font-weight: lighter;
  line-height: 70px;
  text-align: center;
}
#box01>ul{
  width:400%;
  height:100%;
  display:flex;
  flex-wrap:wrap;
  /* justify-content: flex-start; */
}
#box01>ul>li{
  width:25%; /* 100% X */
  height:100%;
  background:url('../images/blue.jpg') no-repeat center top;
  background-size:100%;
  text-indent:-9999px;
}
#box01>ul>li.no02{background-image: url('../images/pink.jpg');}
#box01>ul>li.no03{background-image: url('../images/purple.jpg');}
#box01>ul>li.no04{background-image: url('../images/green.jpg');}
#box01>.no{
  position: absolute;
  right:100px;
  bottom:30px;
  background-color:red;
}
#box01>.no>a{
  display: inline-block;
  width:20px; height:20px;
  margin:0 8px;
  border-radius:50%;
  background-color:#fff;
  text-indent: -99999px;
}
#box01>.prev{
  position: absolute;
  width:40px; height:40px;
  left:50px; top:50%;
  border:1px solid white;
  margin-top:-20px;
}
#box01>.next{
  position: absolute;
  width:40px; height:40px;
  right:50px; top:50%;
  border:1px solid white;
  margin-top:-20px;
}

/* #box02 */
#box02{}
#box02>div{
  width:980px; /* height:360px; */
  margin:0 auto;
  /* background-color:green; */
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
#box02>div>dl{
  width:268px;
  padding:140px 0 54px;
  text-align: center;
  color:white;
  background:#9c9491 url('../images/header_icon_03.png') no-repeat center 62px;
}
#box02>div>dl:nth-child(2){background-image: url('../images/header_icon_01.png');}
#box02>div>dl:nth-child(3){background-image: url('../images/header_icon_02.png');}
#box02>div>dl>dt{
  font-family: 'Raleway',sans-serif;
  font-size:20px;
  margin-bottom: 50px;
}
#box02>div>dl>dd{
  width:80%;
  margin:0 auto;
}

/* #box03 */
#box03{
  background-color: #e8e8e8;
}
#box03>div{}
#box03>div>h3{}
#box03>div>div{
  width:1100px;
  margin:0 auto;
  /* background-color: yellowgreen; */
  padding-left:440px;
  box-sizing: border-box;
  position:relative;
}
#box03>div>div>figure{
  position:absolute;
  left:0; top:0;
}
#box03 .btn{
  text-align: right;
}
#box03 .btn>button{
  width:196px; height:54px;
  border:none;
  box-sizing: border-box;
  border-radius:27px;
  background-color: #9c9491;
}
#box03>div>div>figure>figcaption{}
#box03>div>div>div{}
#box03>div>div>div>p{}

/* #box04 */
#box04{}
#box04>div{}
#box04>div>div{
  display:flex;
  flex-wrap:wrap;
}
#box04>div>div>div{
  width:50%;
}
#box04>div>div>div>.text{
  width:480px;
}
#box04>div>div>p{}
#box04>div>div>ul{
  width:50%;
}
#box04>div>div>ul>li{
  width:80px; height:80px;
  margin:0 8px 16px;
  border: 2px solid #cac6c4;
  float:left;
  text-indent: -99999px;
  background: url('../images/icon/html5.png') no-repeat center;
}
#box04>div>div>ul>li:nth-child(2){background-image: url('../images/icon/css3.png');}
#box04>div>div>ul>li:nth-child(3){background-image: url('../images/icon/javascript.png');}
#box04>div>div>ul>li:nth-child(4){background-image: url('../images/icon/jquery.png');}
#box04>div>div>ul>li:nth-child(5){background-image: url('../images/icon/vue.png');}
#box04>div>div>ul>li:nth-child(6){background-image: url('../images/icon/react.png');}
#box04>div>div>ul>li:nth-child(7){background-image: url('../images/icon/bootstrap.png');}
#box04>div>div>ul>li:nth-child(8){background-image: url('../images/icon/git.png');}
#box04>div>div>ul>li:nth-child(9){background-image: url('../images/icon/npm.png');}
#box04>div>div>ul>li:nth-child(10){background-image: url('../images/icon/sass.png');}
#box04>div>div>ul>li:nth-child(11){background-image: url('../images/icon/typescript.png');}
#box04>div>div>ul>li:nth-child(12){background-image: none;}

/* box05 */
#box05{
  background-color:#c3c3c3;
  color:#fff;
  text-align:center;
  padding-bottom:30px;
}
#box05 a{
  color:#fff;
}
#box05>div{}
#box05>div>.text{
  width:60%;
  margin:0 auto 50px;
}

  /* tab메뉴 */
#box05>div>ul{
  display:flex;
  justify-content: center;
  margin-bottom:50px;
}
#box05>div>ul>li{
  border-left:1px solid white;
  padding: 0 10px;
  line-height: 1;
}
#box05>div>ul>li:nth-child(1){border-left:none;}
#box05>div>ul>li>a{}

  /* 전체 : 버튼 */
#box05 .box{}
#box05 #show{}
#box05 #all{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
}
#box05 #all>figure{
  width:calc(33.33333% - 18px);
  margin-bottom:50px;
}
#box05 #all>figure>img{
  margin-bottom:30px;
}

  /* 버튼 군단 */
#box05 .box>.prev{}
#box05 .box>.next{}


/* box06 */
#box06{
  background-color:#9c9491;
  color:white;
}
#box06 a{
  color:white;
}
#box06>div{}
#box06>div>div{
  width:1100px;
  margin:0 auto;
  display:flex;
  flex-wrap:wrap;
}
#box06>div>div>div{
  width:50%;
}
#box06>div>div>div .title{margin-bottom: 20px;;}
#box06>div>div>div .text{width:80%;}
#box06>div>div>div dl{
  margin-bottom: 20px;
}
#box06>div>div>div dl>dt{
  padding-left:37px;
  background: url('../images/contact_icon_01.png') no-repeat left center;
  background-size:22px;
}
#box06>div>div>div dl:nth-child(4)>dt{background-image: url('../images/contact_icon_03.png');}
#box06>div>div>div dl:nth-child(5)>dt{background-image: url('../images/contact_icon_02.png');}
#box06>div>div>div dl>dd{
  padding-left:37px;
}

#box06>div>div>form{
  width:50%;
  padding:0 45px;
  box-sizing: border-box;
  color:#717171;
}
#box06>div form>fieldset{
  background-color: white;
  padding:20px;
}
#box06>div form>fieldset>ul{
  /* background-color:green; */
}
#box06>div form>fieldset>ul>li{
  margin-bottom:20px;
}
#box06>div form>fieldset>ul>li>label{
  display:block;
  line-height:1;
  margin-bottom:6px;
}
#box06>div form>fieldset>ul>li>input{
  width:100%;
  box-sizing: border-box;
  border:none;
  background-color: #ddd;
  line-height: 43px;
  border-radius: 4px;
  text-indent:15px;

}
#box06>div form>fieldset>ul>li>textarea{
  width:100%;
  height:120px;
  box-sizing: border-box;
  border:none;
  background-color: #ddd;
  line-height: 43px;
  border-radius: 4px;
  text-indent:15px;
}
#box06>div form>fieldset>p{}
#box06>div form>fieldset>p>input{
  width:100%;
  box-sizing: border-box;
  height:43px;
  border:none;
  border-radius: 4px;
  background-color:#ddd;
  color:#777;
}

/* footer */
footer{
  background-color:#333333;
  text-align: center;
  padding:40px 0;
  color:white;
  font:15px/110px 'Raleway',sans-serif;
  line-height: 1;
}

/* aside */
aside{}
aside>ul{
  position:fixed;
  right:10px; top:50%;
}
aside>ul>li{
  margin-bottom: 10px;
}
aside>ul>li>a{
  display: block;
  width:20px;
  height:20px;
  border-radius: 50%;
  text-indent: -99999px;
  background-color:orange;
}
aside>ul>li>a.selected{
  background-color: #000;
}
aside>p{
  position: fixed;
  right:20px; bottom:20px;
}
aside>p>a{
  width:30px; height:30px;
  background-color: red;
  color:white;
  display:block;
  text-indent: -999999px;
}